NEXT_PUBLIC_SUPABASE_URL=https://deguotlmyttvlpvnoxcv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bPQ2gkC1BuJ4eVW3fgGv2w__AUF5pqs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlZ3VvdGxteXR0dmxwdm5veGN2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDYxMTIyMCwiZXhwIjoyMTA2MTg3MjIwfQ.hTDRaryZZIpCwJkwxD0imSJFiRs7AseJbEfRfhCEZw0
AUTH_SECRET=1e2355f09dda6b038f9a446ef90637c7f2986bcf22122c5ef3976477a2ec9d2b